.social-icons {
    list-style: none;
    /* display:inline-block; */
    color: #0f7173ff;
}

.social-icons li{
    display: inline-block;
    padding: 1.5% 2.5%;
}

.icons:hover{
    /* color: #ffc107; */
    color: greenyellow;
    
    /* background-color: hotpink; */
}

.icons icon:hover {
  animation: spin 0.5s 1 forwards;
}

.bg{
    background-color: #320d6dff;
}