@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* CSS HEX */
/* --rose-pink: #e365c1ff;
--smoky-black: #070600ff;
--ghost-white: #f7f7ffff;
--persian-indigo: #320d6dff;
--caribbean-current: #0f7173ff; */

/* CSS HSL */
/* --rose-pink: hsla(316, 69%, 64%, 1);
--smoky-black: hsla(51, 100%, 1%, 1);
--ghost-white: hsla(240, 100%, 98%, 1);
--persian-indigo: hsla(263, 79%, 24%, 1);
--caribbean-current: hsla(181, 77%, 25%, 1); */

/* SCSS HEX */
/* $rose-pink: #e365c1ff;
$smoky-black: #070600ff;
$ghost-white: #f7f7ffff;
$persian-indigo: #320d6dff;
$caribbean-current: #0f7173ff; */

/* SCSS HSL */
/* $rose-pink: hsla(316, 69%, 64%, 1);
$smoky-black: hsla(51, 100%, 1%, 1);
$ghost-white: hsla(240, 100%, 98%, 1);
$persian-indigo: hsla(263, 79%, 24%, 1);
$caribbean-current: hsla(181, 77%, 25%, 1); */

/* SCSS RGB */
/* $rose-pink: rgba(227, 101, 193, 1);
$smoky-black: rgba(7, 6, 0, 1);
$ghost-white: rgba(247, 247, 255, 1);
$persian-indigo: rgba(50, 13, 109, 1);
$caribbean-current: rgba(15, 113, 115, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-right: linear-gradient(90deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-bottom: linear-gradient(180deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-left: linear-gradient(270deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-top-right: linear-gradient(45deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-bottom-right: linear-gradient(135deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-top-left: linear-gradient(225deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-bottom-left: linear-gradient(315deg, #e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff);
$gradient-radial: radial-gradient(#e365c1ff, #070600ff, #f7f7ffff, #320d6dff, #0f7173ff); */







/* CSS HEX */
/* --rose-pink: #e365c1ff;
--dark-cyan: #048a81ff;
--lavender-web: #e3dfffff;
--oxford-blue: #191d32ff;
--polynesian-blue: #054a91ff; */

/* CSS HSL */
/* --rose-pink: hsla(316, 69%, 64%, 1);
--dark-cyan: hsla(176, 94%, 28%, 1);
--lavender-web: hsla(248, 100%, 94%, 1);
--oxford-blue: hsla(230, 33%, 15%, 1);
--polynesian-blue: hsla(210, 93%, 29%, 1); */

/* SCSS HEX */
/* $rose-pink: #e365c1ff;
$dark-cyan: #048a81ff;
$lavender-web: #e3dfffff;
$oxford-blue: #191d32ff;
$polynesian-blue: #054a91ff; */

/* SCSS HSL */
/* $rose-pink: hsla(316, 69%, 64%, 1);
$dark-cyan: hsla(176, 94%, 28%, 1);
$lavender-web: hsla(248, 100%, 94%, 1);
$oxford-blue: hsla(230, 33%, 15%, 1);
$polynesian-blue: hsla(210, 93%, 29%, 1); */

/* SCSS RGB */
/* $rose-pink: rgba(227, 101, 193, 1);
$dark-cyan: rgba(4, 138, 129, 1);
$lavender-web: rgba(227, 223, 255, 1);
$oxford-blue: rgba(25, 29, 50, 1);
$polynesian-blue: rgba(5, 74, 145, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-right: linear-gradient(90deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-bottom: linear-gradient(180deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-left: linear-gradient(270deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-top-right: linear-gradient(45deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-bottom-right: linear-gradient(135deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-top-left: linear-gradient(225deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-bottom-left: linear-gradient(315deg, #e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff);
$gradient-radial: radial-gradient(#e365c1ff, #048a81ff, #e3dfffff, #191d32ff, #054a91ff); */




/* CSS HEX */
/* --celtic-blue: #266dd3ff;
--dark-cyan: #048a81ff;
--lavender-web: #e3dfffff;
--oxford-blue: #191d32ff;
--cyclamen: #f2699dff; */

/* CSS HSL */
/* --celtic-blue: hsla(215, 69%, 49%, 1);
--dark-cyan: hsla(176, 94%, 28%, 1);
--lavender-web: hsla(248, 100%, 94%, 1);
--oxford-blue: hsla(230, 33%, 15%, 1);
--cyclamen: hsla(337, 84%, 68%, 1); */

/* SCSS HEX */
/* $celtic-blue: #266dd3ff;
$dark-cyan: #048a81ff;
$lavender-web: #e3dfffff;
$oxford-blue: #191d32ff;
$cyclamen: #f2699dff; */

/* SCSS HSL */
/* $celtic-blue: hsla(215, 69%, 49%, 1);
$dark-cyan: hsla(176, 94%, 28%, 1);
$lavender-web: hsla(248, 100%, 94%, 1);
$oxford-blue: hsla(230, 33%, 15%, 1);
$cyclamen: hsla(337, 84%, 68%, 1); */

/* SCSS RGB */
/* $celtic-blue: rgba(38, 109, 211, 1);
$dark-cyan: rgba(4, 138, 129, 1);
$lavender-web: rgba(227, 223, 255, 1);
$oxford-blue: rgba(25, 29, 50, 1);
$cyclamen: rgba(242, 105, 157, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-right: linear-gradient(90deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-bottom: linear-gradient(180deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-left: linear-gradient(270deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-top-right: linear-gradient(45deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-bottom-right: linear-gradient(135deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-top-left: linear-gradient(225deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-bottom-left: linear-gradient(315deg, #266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff);
$gradient-radial: radial-gradient(#266dd3ff, #048a81ff, #e3dfffff, #191d32ff, #f2699dff); */